.btn{
    @apply text-center rounded-md border px-4 py-2 text-sm font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;

    &.btn-primary{
        @apply border-transparent bg-indigo-600 text-white hover:bg-indigo-700 focus:ring-indigo-500;
    }
    &.btn-secondary{
        @apply border-gray-300 bg-white text-gray-700 hover:bg-gray-50 focus:ring-indigo-500;
    }
}

.input{
    @apply border border-gray-300 w-full h-5 px-3 py-4 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md;
}

.text-area{
    @apply border border-gray-300 w-full px-3 py-2 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md;
}

.password-container{
    position: relative;
    input{
        padding-right: 50px;
    }
    .password-icon{
        position: absolute;
        top: 20%;
        right: 10px;
        z-index: 1000;
    }
}